@import "styles";

.input {
  @include font(13px);

  font-family: inherit;
  border: 0;
  border-bottom: 1px solid $blue;
  background-color: $white;
  box-sizing: border-box;
  color: $black;
  outline: 0;
  padding: 16px 0 8px;
  width: 100%;
}

.input:focus-visible + .label,
.input:not(:placeholder-shown) + .label{
  @include font(11px);
  top: 0;
  left: 0;
}
