.root {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
