@import "styles";

.root {
  @include font(13px);

  padding: 10px 0;
  border-bottom: $border;

  &:last-of-type {
    border-bottom: 0;
  }
}

.info_input {
  color: $dark-grey;
  text-align: end;
  border: 0;
  outline: none;
  font-family: inherit;
}
