$blue: #3369F3;
$light-blue: #E4EDFD;
$white: #ffffff;
$black: #1E1E1E;
$very-dark-grey: #525252;
$dark-grey: #999999;
$grey: #EAEAEA;
$light-grey: #EFEFEF;
$very-light-grey: #FBFBFB;
$red: #FF2F2F;

$box-shadow-small: 0 0 6px 0 rgba(0, 0, 0, 0.14);

$border: 1px solid $grey;
$input-outline: 1px solid $blue;