@import "styles";

.label {
  color: $dark-grey;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  pointer-events: none;
  position: absolute;
  transition: all 0.2s;
  top: 16px;
  left: 0;
}
